<h4>You can reach me through these various media:</h4>

<div class="small-font">(I don't promise to be readily available)</div>
<br/>
<div><strong>Email: </strong> <em>{{renderEmail()}}</em></div>
<div><strong>Instagram: </strong> <em>kiritwo_</em></div>
<div><strong>Reddit: </strong> <em>Rykou</em> (there's apparently other versions of this name running around on other media so fair warning)</div>
<div><strong>Facebook: </strong> <a href="https://www.facebook.com/roger.yamada.1" target="_blank">roger.yamada.1</a></div>

<br/>
<p>If you want to play any games or reach me through any other platform/service, feel free to start with the above and we can discuss things like Steam, Battle.net, Discord etc.</p>
