<p>Fair warning, I built a really bad website almost 10 years ago. I'm going to dump a bunch of content from there on here for some filler but this is undergoing heavy rework so please forgive any bad styles, links etc.</p>

<p>You've stumbled upon Roger Yamada's website hosted by Github Pages. Whether you're looking at me from a professional or any other perspective, I hope you'll find the information you're looking for.
  If you don't see something, feel free to reach out; contact info is on my contact page.
</p>