<mat-accordion [multi]="true">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Online Accounts</mat-panel-title>
    </mat-expansion-panel-header>
    
    <h4><strong>Relatively recent games (within the last few years of 2020)</strong></h4>
    <fieldset>
      <legend>Elder Scrolls Online</legend>
      <p>I didn't play all that much in 2019 but have been on and off since beta in ~2014. I haven't even hit the *new* cap of 810 and am somewhere around cp 500</p>
      <ul>
        <li>Darkpurrsuit (and yes, of course it's a Khajit)</li>
      </ul>
    </fieldset>

    <br/>
    <h4><strong>Some older games</strong></h4>
    <fieldset>
      <legend>World of Warcraft</legend>
      <p>I used to main a few characters in a guild called Styx on Cenarius (and some previous realms before we moved). I haven't been active there since around 2013 or so and I have no idea what's happened since then. My mains there were:</p>
      <ul>
        <li>Roguerr</li>
        <li>Darthpriest</li>
      </ul>
    </fieldset>

    <fieldset>
      <legend>League of Legends</legend>
      <p>I haven't played league in quite awhile either, only playing for a few years after 2014 and was mediocre at best.</p>
      <ul>
        <li>xEtherDragonx</li>
      </ul>
    </fieldset>

  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Some Favorites</mat-panel-title>
    </mat-expansion-panel-header>

    <p>I'm primarily a JRPG fan though dabble in RTS and FPS. I have quite a few jprgs that I grew fond of way back when that have debatably survived the test of time. Here's a list of some generalized to their series.</p>
    <p>A non exhaustive list in no particular order:</p>
    <ul>
      <li>Breath of Fire</li>
      <li>Final Fantasy</li>
      <li>Legend of Zelda (really need to pick up BotW still)</li>
      <li>Dragon Warrior/Quest</li>
      <li>Monster Rancher</li>
      <li>Tales of</li>
      <li>Golden Sun</li>
      <li>Fire Emblem</li>
      <li>Legend of Dragoon</li>
      <li>Halo (whew Steam release!)</li>
      <li>Command and Conquer</li>
      <li>Diablo</li>
      <li>Elder Scrolls</li>
    </ul>
  </mat-expansion-panel>
</mat-accordion>